h1 {
font-family: 'Prompt', sans-serif;
font-size : 4em;
margin-top: 0.5em;
}
h2{
    font-family: 'Prompt', sans-serif; 
}
.photo img{
    width: 500px;
    height : 400px;
}
h4{
    font-family: 'Prompt', sans-serif;
}